* {
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
}

#panel {
  margin-top: 15px;
  z-index: 2;
  overflow-y: scroll;
  max-height: 80vh;
  position: absolute;
}
#state::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}
#state {
  z-index: 2;
  position: absolute;
  right: 10px;
  overflow-y: scroll;
  max-height: 50vh;
}
#userState {
  z-index: 2;
  position: absolute;
  right: 20px;
  bottom: 10px;
  max-height: 50vh;
}
